body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/circles-light.png");
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 40px 0;
}

.logo
{
	width: 450px;
	font-size: 58px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.container
{
	background-color: white;
	width: 400px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.footer
{
	text-align: center;
	color: #222222;
	padding: 30px;
}

input[type=text],
input[type=password],
input[type=mail]
{
	width: 400px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=mail]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #f8eed3;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #e8c264;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-left:50px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #e1b137;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

.square
{
	float: left;
	width: 18%;
	background-color: #ebcb7a;
	text-align: center;
	margin: 18px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 30px;
	border-radius: 5px;
}

.square:hover
{
	background-color: #daba60;
	cursor:pointer;
}	
	





